html, body {
  background-color: $site-background-color;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a, a:hover, a:visited {
  color: $site-links-color;
  cursor: pointer;
  text-decoration: none;
}

md-input-container [ng-message]:not(.md-char-counter) {
  padding-right: 0;
}

#site-wrapper {
  position: relative; 
  height: 100%;
}