#site-sidenav {
  display: flex !important;
  position: absolute!important;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  height: 100%;
  background: $sidenav-color-primary;
  width: $sidenav-full-width;
  min-width: 0px;
  max-width: $sidenav-full-width;
  box-shadow: 0 56px 5px 0 rgba(0,0,0,.3);
  z-index: 100;
  
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  
  &.md-closed {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

#site-sidenav .top-toolbar div {
  font-size: 20px;
  font-weight: bold;
}

#site-sidenav md-content {
  background: transparent;
}

#site-sidenav :not(md-toolbar) + .nav-menu-bar {
   border-top: 1px solid $sidenav-color-secondary;
 }
 
#site-sidenav .nav-menu-bar {
   border-bottom: 1px solid $sidenav-color-secondary;
 }
 
 #site-sidenav > .nav-menu-bar:last-child {
   border-bottom: none;
 }
 
.nav-menu-bar,
.nav-menu-bar ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;  
}

.nav-menu-bar .md-button {
  border-radius: 0;
  font-size: $sidenav-font-size-compact;
  color: $sidenav-font-color;
  cursor: pointer;
  line-height: $sidenav-menu-item-height-compact;
  width: 100%;
  min-width: 0;
  overflow: hidden;
  margin: 0;
  padding: 0px $sidenav-base-padding;
  text-align: left;
  text-decoration: none;
  white-space: no-wrap;
  
  span {
    overflow: hidden;
  }  
}

.nav-menu-bar menu-link a.md-button {
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.nav-menu-bar .md-button:hover,
.nav-menu-bar .md-button:focus {
  background: $sidenav-color-secondary;
}
.nav-menu-bar .md-button md-icon {
  color: $sidenav-font-color;
}

.nav-menu-bar button.md-button::-moz-focus-inner {
  padding: 0;
}
.nav-menu-bar .md-button.active {
  background: $sidenav-color-secondary;
}

.menu-heading {
  display: block;
  line-height: 32px;
  padding: 0 $sidenav-base-padding;
  text-align: left;
  color: $sidenav-heading-color;
}

nav-menu .collapsed {
  max-height: 0px;
}

.menu-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
  max-height: 1500px;
}

.nav-menu-bar nav-menu ul a.md-button {
  padding-left: $sidenav-base-padding * 2;
}

.toggle-list-open {
  background: $sidenav-color-secondary;
}

.menu-toggle-list li {
  background: $sidenav-color-secondary;
}

.nav-menu-bar nav-menu ul ul li > a.md-button {
  padding-left: $sidenav-base-padding * 3;
}

.menu-toggle-list .toggle-list-open {
  background: $sidenav-color-hue1;
}

.menu-toggle-list .menu-toggle-list li {
  background: $sidenav-color-hue1;
}

.nav-menu-bar nav-menu ul ul ul li > a.md-button {
  padding-left: $sidenav-base-padding * 4;
}

.menu-toggle-list .menu-toggle-list .toggle-list-open {
  background: $sidenav-color-hue2;
}

.menu-toggle-list .menu-toggle-list .menu-toggle-list li {
  background: $sidenav-color-hue2;
}



.md-button-toggle .md-toggle-icon {
  margin-left: auto;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.nav-menu-label-icon {
  margin-right: $sidenav-base-padding; 
}

 @media (min-width: $window-medium-max-width) {   
   #site-sidenav {
    min-width: 0;
    box-shadow: 0 64px 5px 0 rgba(0,0,0,.3);
    -webkit-transform: translate3d(0,0,0)!important;
    transform: translate3d(0,0,0)!important;
    -webkit-transition: width .4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: width .4s cubic-bezier(0.25, 0.8, 0.25, 1);
   }
   
   .nav-menu-bar .md-button {
    line-height: $sidenav-menu-item-height;
    font-size: $sidenav-font-size; 
   }
   
   .folded {
    #site-sidenav {
      width: $sidenav-folded-width;
         
      &:hover {
        width: $sidenav-full-width;
      }
    }
    
    .hidden-folded {
        display: none;
    }
        
    #site-sidenav:hover .hidden-folded {
        display: block;
    }
     
     .nav-menu-bar .md-button {
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px;
      
    }
    
    #site-sidenav:hover .nav-menu-bar .md-button {
      text-align: left;
      padding-top: 0;
      padding-bottom: 0;
    }
    
    .nav-menu-bar li a span {
      display: none;
    }
    
    #site-sidenav:hover .nav-menu-bar li a span {
      display: inline;
    }
    
    .nav-menu-bar li a .nav-menu-label-icon {
      margin-right: auto;
    }
    
    #site-sidenav:hover .nav-menu-bar li a .nav-menu-label-icon {
      margin-right: $sidenav-base-padding; 
    }
     
   }
 }
