
#site-sidenav {
  position: absolute!important;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  height: 100%;
  -webkit-transition: width .4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: width .4s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: $sidenav-color-primary;
  width:     $sidenav-full-width;
  min-width: 0px;
  max-width: $sidenav-full-width;
}

#site-sidenav md-content {
  background: transparent;
}


.nav-menu-bar {
   border-top: 1px solid $sidenav-color-secondary;
   border-bottom: 1px solid $sidenav-color-secondary;
   overflow: hidden;
 }
 
.nav-menu-bar,
.nav-menu-bar ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
}

.nav-menu-bar .md-button {
  border-radius: 0;
  color: $sidenav-font-color;
  cursor: pointer;
  // display: block;
  // align-items: inherit;
  line-height: $sidenav-menu-item-height;
  margin: 0;
  max-height: $sidenav-menu-item-height;
  min-width: 0;
  overflow: hidden;
  padding: 0px $sidenav-left-right-padding;
  text-align: left;
  text-decoration: none;
  white-space: no-wrap;
  width: 100%;
}
.nav-menu-bar .md-button:hover,
.nav-menu-bar .md-button:focus {
  background: $sidenav-color-secondary;
}
.nav-menu-bar .md-button md-icon {
  color: $sidenav-font-color;
}

.nav-menu-bar button.md-button::-moz-focus-inner {
  padding: 0;
}
.nav-menu-bar .md-button.active {
  background: $sidenav-color-secondary;
}

.menu-heading {
  display: block;
  line-height: 32px;
  padding: 0 $sidenav-left-right-padding;
  text-align: left;
  color: $sidenav-heading-color;
}

.menu-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
  max-height: 1500px;
}

.toggle-list-open {
  background: $sidenav-color-secondary;
}

.menu-toggle-list li {
  background: $sidenav-color-secondary;
}

.collapsed {
  max-height: 0px;
}

.nav-menu-bar nav-menu ul a.md-button {
  padding-left: $sidenav-left-right-padding * 2;
}

.nav-menu-bar menu-link a.md-button {
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.nav-menu-bar nav-menu ul ul li > a.md-button {
  padding-left: $sidenav-left-right-padding * 3;
}

.menu-toggle-list .toggle-list-open {
  background: $sidenav-color-hue1;
}

.menu-toggle-list .menu-toggle-list li {
  background: $sidenav-color-hue1;
}

.nav-menu-bar nav-menu ul ul ul li > a.md-button {
  padding-left: $sidenav-left-right-padding * 4;
}

.menu-toggle-list .menu-toggle-list .toggle-list-open {
  background: $sidenav-color-hue2;
}

.menu-toggle-list .menu-toggle-list .menu-toggle-list li {
  background: $sidenav-color-hue2;
}

.md-button-toggle .md-toggle-icon {
  margin-left: auto;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.nav-menu-label-icon {
  margin-right: $sidenav-left-right-padding; 
}

 @media (min-width: $window-medium-max-width) {
   
   .folded {
     #site-sidenav {
       width: $sidenav-folded-width;
         
       &:hover {
         width: $sidenav-full-width;
       }
     }
     
     .nav-menu-bar .md-button {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    &:hover .nav-menu-bar .md-button {
      text-align: left;
      padding-top: 0;
      padding-bottom: 0;
    }
    
    .nav-menu-bar li a span {
      display: none;
    }
    
    &:hover .nav-menu-bar li a span {
      display: inline;
    }
    
    .nav-menu-bar li a .nav-menu-label-icon {
      margin-right: auto;
    }
    
    &:hover .nav-menu-bar li a .nav-menu-label-icon {
      margin-right: $sidenav-left-right-padding; 
    }
     
   }
 }
 
 @media (max-width: $window-medium-max-width) {
   .menu-heading {
        margin: 0;
    }
 }
