#content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}
 
#content-box {
  height: 100%;
  padding: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}

 @media (min-width: $window-medium-max-width) {
   #content-wrapper {
      margin-left: $sidenav-folded-width;
    }
    
    #sidenav-wrapper:not(.folded) ~ #content-wrapper {
      margin-left: $sidenav-full-width;      
    }
    
    #content-box {
      padding: 25px;
    }
    
 }