.top-toolbar,
.top-toolbar .md-toolbar-tools {
  height: $topnav-compact-height;
  min-height: $topnav-compact-height;
}

.top-toolbar .md-toolbar-tools {
  font-size: 18px;
  padding: 0;
}

.top-toolbar .md-toolbar-tools .nav-item,
.top-toolbar .md-toolbar-tools .nav-tools > .md-button,
.top-toolbar .md-toolbar-tools .nav-item .md-ripple-container,
.top-toolbar .md-toolbar-tools .nav-tools > .md-button .md-ripple-container {
  line-height: $topnav-compact-height;
  margin: 0;
  padding: 0 10px;
  border-radius: 0;
}

.top-toolbar .md-button {
  min-width: 0;
  min-height: 0;
  width: auto;
  height: auto;
  text-transform: none;
  font-size: 18px;
 }    
 
.nav-brand-icon .md-button,
.nav-brand-icon .md-ripple-container {  
  padding: 0;
  width: 64px;
  line-height: $topnav-compact-height;
  margin: 0;
  border-radius: 0;
 }
 
 @media (min-width: $window-medium-max-width) {
  .top-toolbar,
  .top-toolbar .md-toolbar-tools {
    min-height: $topnav-full-height;
  }
   
   .top-toolbar .md-toolbar-tools {
     font-size: 20px;
   }
    
  .top-toolbar .md-toolbar-tools .nav-item,
  .top-toolbar .md-toolbar-tools .nav-tools > .md-button,
  .top-toolbar .md-toolbar-tools .nav-item .md-ripple-container,
  .top-toolbar .md-toolbar-tools .nav-tools > .md-button .md-ripple-container {
    line-height: $topnav-full-height;
    padding: 0 16px;
  }
    
  .nav-brand-icon .md-button,
  .nav-brand-icon .md-ripple-container {
    line-height: $topnav-full-height;
  }
 }