<md-toolbar id="top-navbar" class="md-whiteframe-z1 top-toolbar" ng-controller="TopNavCtrl as nav" ng-cloak>
	<div class="md-toolbar-tools">
		<md-button class="nav-item" ng-click="nav.openSidenav()" hide-gt-md>
			<md-icon md-svg-icon="{{nav.svgIcons.menu}}"></md-icon>
		</md-button>
		<div class="nav-item">
		<div>Dashboard</div>
		</div>
		<span flex></span>
		<div class="nav-tools" layout="row">
            {% if (user) %}
                <md-button href="/logout">Logout</md-button>
            {% else %}
                <md-button href="/login">Login</md-button>
            {% endif %}			
			<md-button class="" aria-label="Account">
				<md-icon md-svg-icon="{{nav.svgIcons.account}}"></md-icon>
			</md-button>
			<md-button class="" aria-label="More">
				<md-icon md-svg-icon="{{nav.svgIcons.dotsVertical}}"></md-icon>
			</md-button>
		</div>
	</div>
</md-toolbar>