<md-toolbar class="md-whiteframe-z1" ng-controller="NavCtrl as nav">
	<div class="md-toolbar-tools">
		<div class="nav-brand-icon">
			<md-button class="md-icon-button" aria-label="Home" ng-mouseover="nav.openLeftMenu()">
				<md-icon md-svg-src="src/assets/img/icons/d20.svg" class="s36"></md-icon>
			</md-button>
		</div>
		<h1 layout-margin>D20 Toolbox</h1>
		<span flex></span>
		<md-button ng-click="nav.openLeftMenu()">
			Open Left Menu
		</md-button>
		<md-button class="md-icon-button" aria-label="Account">
			<md-icon md-svg-icon="src/assets/img/icons/account.svg"></md-icon>
		</md-button>
		<md-button class="md-icon-button" aria-label="More">
			<md-icon md-svg-icon="src/assets/img/icons/dots-vertical.svg"></md-icon>
		</md-button>
	</div>
</md-toolbar>