html, body {
  background-color: #EEE;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#site-wrapper {
  position: relative;
  height: 100%;
}

#site-sidenav {
  display: flex !important;
  position: absolute !important;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  height: 100%;
  background: #FFF;
  width: 272px;
  min-width: 0px;
  max-width: 272px;
  box-shadow: 0 56px 5px 0 rgba(0, 0, 0, 0.3);
  z-index: 100;
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
#site-sidenav.md-closed {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

#site-sidenav .top-toolbar div {
  font-size: 20px;
  font-weight: bold;
}

#site-sidenav md-content {
  background: transparent;
}

#site-sidenav :not(md-toolbar) + .nav-menu-bar {
  border-top: 1px solid #EDEDED;
}

#site-sidenav .nav-menu-bar {
  border-bottom: 1px solid #EDEDED;
}

#site-sidenav > .nav-menu-bar:last-child {
  border-bottom: none;
}

.nav-menu-bar,
.nav-menu-bar ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.nav-menu-bar .md-button {
  border-radius: 0;
  font-size: 13px;
  color: #616161;
  cursor: pointer;
  line-height: 36px;
  width: 100%;
  min-width: 0;
  overflow: hidden;
  margin: 0;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: no-wrap;
}
.nav-menu-bar .md-button span {
  overflow: hidden;
}

.nav-menu-bar menu-link a.md-button {
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.nav-menu-bar .md-button:hover,
.nav-menu-bar .md-button:focus {
  background: #EDEDED;
}

.nav-menu-bar .md-button md-icon {
  color: #616161;
}

.nav-menu-bar button.md-button::-moz-focus-inner {
  padding: 0;
}

.nav-menu-bar .md-button.active {
  background: #EDEDED;
}

.menu-heading {
  display: block;
  line-height: 32px;
  padding: 0 16px;
  text-align: left;
  color: rgba(61, 61, 61, 0.54);
}

nav-menu .collapsed {
  max-height: 0px;
}

.menu-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
  max-height: 1500px;
}

.nav-menu-bar nav-menu ul a.md-button {
  padding-left: 32px;
}

.toggle-list-open {
  background: #EDEDED;
}

.menu-toggle-list li {
  background: #EDEDED;
}

.nav-menu-bar nav-menu ul ul li > a.md-button {
  padding-left: 48px;
}

.menu-toggle-list .toggle-list-open {
  background: #CFCFCF;
}

.menu-toggle-list .menu-toggle-list li {
  background: #CFCFCF;
}

.nav-menu-bar nav-menu ul ul ul li > a.md-button {
  padding-left: 64px;
}

.menu-toggle-list .menu-toggle-list .toggle-list-open {
  background: #B8B8B8;
}

.menu-toggle-list .menu-toggle-list .menu-toggle-list li {
  background: #B8B8B8;
}

.md-button-toggle .md-toggle-icon {
  margin-left: auto;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.nav-menu-label-icon {
  margin-right: 16px;
}

@media (min-width: 960px) {
  #site-sidenav {
    min-width: 0;
    box-shadow: 0 64px 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .nav-menu-bar .md-button {
    line-height: 40px;
    font-size: 14px;
  }

  .folded #site-sidenav {
    width: 64px;
  }
  .folded #site-sidenav:hover {
    width: 272px;
  }
  .folded .hidden-folded {
    display: none;
  }
  .folded #site-sidenav:hover .hidden-folded {
    display: block;
  }
  .folded .nav-menu-bar .md-button {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .folded #site-sidenav:hover .nav-menu-bar .md-button {
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
  }
  .folded .nav-menu-bar li a span {
    display: none;
  }
  .folded #site-sidenav:hover .nav-menu-bar li a span {
    display: inline;
  }
  .folded .nav-menu-bar li a .nav-menu-label-icon {
    margin-right: auto;
  }
  .folded #site-sidenav:hover .nav-menu-bar li a .nav-menu-label-icon {
    margin-right: 16px;
  }
}
#content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

#content-box {
  height: 100%;
  padding: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 960px) {
  #content-wrapper {
    margin-left: 64px;
  }

  #sidenav-wrapper:not(.folded) ~ #content-wrapper {
    margin-left: 272px;
  }

  #content-box {
    padding: 25px;
  }
}
.top-toolbar,
.top-toolbar .md-toolbar-tools {
  height: 56px;
  min-height: 56px;
}

.top-toolbar .md-toolbar-tools {
  font-size: 18px;
  padding: 0;
}

.top-toolbar .md-toolbar-tools .nav-item,
.top-toolbar .md-toolbar-tools .nav-tools > .md-button,
.top-toolbar .md-toolbar-tools .nav-item .md-ripple-container,
.top-toolbar .md-toolbar-tools .nav-tools > .md-button .md-ripple-container {
  line-height: 56px;
  margin: 0;
  padding: 0 10px;
  border-radius: 0;
}

.top-toolbar .md-button {
  min-width: 0;
  min-height: 0;
  width: auto;
  height: auto;
  text-transform: none;
  font-size: 18px;
}

.nav-brand-icon .md-button,
.nav-brand-icon .md-ripple-container {
  padding: 0;
  width: 64px;
  line-height: 56px;
  margin: 0;
  border-radius: 0;
}

@media (min-width: 960px) {
  .top-toolbar,
  .top-toolbar .md-toolbar-tools {
    min-height: 64px;
  }

  .top-toolbar .md-toolbar-tools {
    font-size: 20px;
  }

  .top-toolbar .md-toolbar-tools .nav-item,
  .top-toolbar .md-toolbar-tools .nav-tools > .md-button,
  .top-toolbar .md-toolbar-tools .nav-item .md-ripple-container,
  .top-toolbar .md-toolbar-tools .nav-tools > .md-button .md-ripple-container {
    line-height: 64px;
    padding: 0 16px;
  }

  .nav-brand-icon .md-button,
  .nav-brand-icon .md-ripple-container {
    line-height: 64px;
  }
}
.s24 {
  width: 24px;
  height: 24px;
}

.s36 {
  width: 36px;
  height: 36px;
}

.s48 {
  width: 48px;
  height: 48px;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable.hover {
  overflow-y: hidden !important;
}

.scrollable.hover:hover > * {
  overflow: hidden;
}

.scrollable.hover:hover {
  overflow-y: auto !important;
}

.md-button.layout,
.md-button.layout-column,
.md-button.layout-row {
  display: flex;
}
