html, body {
  background-color: #EEE;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#site-wrapper {
  position: relative; 
  height: 100%;
}

#site-sidenav {
  position: absolute!important;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  height: 100%;
}

#content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}
 
#content-box {
  height: 100%;
  padding: 25px;
  overflow-y: auto;
  overflow-x: hidden;
}


#site-sidenav {
  background: #106CC8;
}
#site-sidenav md-content {
  background: transparent;
}

#site-sidenav,
#site-sidenav.md-locked-open-add-active,
#site-sidenav.md-locked-open {
  width:     272px;
  min-width: 0px;
  max-width: 272px;
}
 
 .nav-menu-bar {
   border-top: 1px solid #267ED5;
   border-bottom: 1px solid #267ED5;
   overflow: hidden;
 }
 
 .nav-menu-bar,
.nav-menu-bar ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}
.nav-menu-bar li {
  margin: 0;
}

.nav-menu-bar li span {
    overflow: hidden;
}

.nav-menu-bar .md-button {
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  min-width: 0;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: no-wrap;
  width: 100%;
}
.nav-menu-bar .md-button:hover,
.nav-menu-bar .md-button:focus {
  background: #267ED5;
}
.nav-menu-bar .md-button md-icon {
  color: white;
}

.nav-menu-bar md-select {
  margin: 0;
  width: 100%;
}

.nav-menu-bar md-select md-select-label {
  justify-content: flex-end;
  padding-top: 10px;
}

.nav-menu-bar md-select md-select-label span {
  margin-right: auto;
  padding-left: 13px;
}

.nav-menu-bar md-select .md-select-icon {
  margin-right: 28px;
}

.nav-menu-bar button.md-button::-moz-focus-inner {
  padding: 0;
}
.nav-menu-bar .md-button.active {
  background: #267ED5;
}
.menu-heading {
  display: block;
  line-height: 32px;
  padding: 8px 16px 0;
  text-align: left;
  color: rgba(255, 255, 255, 0.54);
}

.menu-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
  max-height: 1500px;
}

.toggle-list-open {
  background: #267ED5;
}

.menu-toggle-list li {
  background: #267ED5;
}

.collapsed {
  max-height: 0px;
}

.nav-menu-bar nav-menu ul a.md-button {
  display: block;
  padding: 0 16px 0 32px;
}

.nav-menu-bar menu-link a.md-button {
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.nav-menu-bar nav-menu ul ul li > a.md-button {
  padding-left: 48px;
}

.menu-toggle-list .toggle-list-open {
  background: #4592de;
}

.menu-toggle-list .menu-toggle-list li {
  background: #4592de;
}

.nav-menu-bar nav-menu ul ul ul li > a.md-button {
  padding-left: 64px;
}

.menu-toggle-list .menu-toggle-list .toggle-list-open {
  background: #66a5e4;
}

.menu-toggle-list .menu-toggle-list .menu-toggle-list li {
  background: #66a5e4;
}

.md-button-toggle .md-toggle-icon {
  /*display: block;*/
  margin-left: auto;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.nav-menu-label-icon {
  margin-right: 15px; 
}

.nav-brand-icon {
   margin-right: 20px;
 }
 
 .md-card .md-card-title {
   display: flex;
   padding: 24px 16px 16px;
 }
 
 .s24 {
  width: 24px;
  height: 24px;
  }
  .s36 {
  width: 36px;
  height: 36px;
  }
  .s48 {
  width: 48px;
  height: 48px;
  }
    
  .scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .scrollable.hover {
    overflow-y: hidden!important;
  }
  .scrollable.hover>* {
    margin-top: -1px;
  }
  .scrollable.hover:hover {
    overflow: visible!important;
    overflow-y: auto!important;
  }
  
  @media (min-width: 992px) {
    #sidenav-wrapper.folded #site-sidenav{
      width: 64px;
    }
    
    #content-wrapper {
      margin-left: 64px;
    }
    
    #sidenav-wrapper:not(.folded) ~ #content-wrapper {
      margin-left: 272px;
    }
    
    #sidenav-wrapper.folded #site-sidenav:hover {
      width: 272px;
    }
    
    .folded .hidden-folded {
      display: none;
    }
    
    .folded:hover .hidden-folded {
      display: block;
    }
    
    .folded .nav-menu-bar .md-button {
      text-align: center;
    }
    
    .folded:hover .nav-menu-bar .md-button {
      text-align: left;
    }
    
    .folded .nav-menu-bar li a span {
      display: none;
    }
    
    .folded:hover .nav-menu-bar li a span {
      display: inline;
    }
    
    .folded .nav-menu-bar li a .nav-menu-label-icon {
      margin-right: auto; 
    }
    
    .folded:hover .nav-menu-bar li a .nav-menu-label-icon {
      margin-right: 15px; 
    }
    
    .folded .nav-brand-icon .md-icon-button {
      margin: 0 8px;
    }
    
    .folded .nav-brand-icon {
      margin-right: 0;
    }
    
    .folded:hover .nav-brand-icon {
      margin-right: 20px;
    }
    
    .folded .md-toolbar-tools {
      padding: 0;
    }
    
    .folded:hover .md-toolbar-tools {
      padding: 0 16px;
    }

  }
  
  @media (max-width: 991px) {
    .menu-heading {
        margin: 0;
    }
  }