.s24 {
  width: 24px;
  height: 24px;
}

.s36 {
  width: 36px;
  height: 36px;
}

.s48 {
  width: 48px;
  height: 48px;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable.hover {
  overflow-y: hidden !important;
}

.scrollable.hover > * {
  margin-top: -1px;
}

.scrollable.hover:hover {
  overflow: visible !important;
  overflow-y: auto !important;
}

.folded .hidden-folded {
  display: none;
}

.folded:hover .hidden-folded {
  display: block;
}

.md-button.layout,
.md-button.layout-column,
.md-button.layout-row {
  display: flex;
}

html, body {
  background-color: #EEE;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#site-wrapper {
  position: relative;
  height: 100%;
}

#site-sidenav {
  position: absolute !important;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  height: 100%;
  -webkit-transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#site-sidenav {
  background: #106CC8;
}

#site-sidenav md-content {
  background: transparent;
}

#site-sidenav
 {
  width: 272px;
  min-width: 0px;
  max-width: 272px;
}

.nav-menu-bar {
  border-top: 1px solid #267ED5;
  border-bottom: 1px solid #267ED5;
  overflow: hidden;
}

.nav-menu-bar,
.nav-menu-bar ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.nav-menu-bar li {
  margin: 0;
}

.nav-menu-bar li span {
  overflow: hidden;
}

.nav-menu-bar .md-button {
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  min-width: 0;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: no-wrap;
  width: 100%;
}

.nav-menu-bar .md-button:hover,
.nav-menu-bar .md-button:focus {
  background: #267ED5;
}

.nav-menu-bar .md-button md-icon {
  color: white;
}

.nav-menu-bar md-select {
  margin: 0;
  width: 100%;
}

.nav-menu-bar md-select md-select-label {
  justify-content: flex-end;
  padding-top: 10px;
}

.nav-menu-bar md-select md-select-label span {
  margin-right: auto;
  padding-left: 13px;
}

.nav-menu-bar md-select .md-select-icon {
  margin-right: 28px;
}

.nav-menu-bar button.md-button::-moz-focus-inner {
  padding: 0;
}

.nav-menu-bar .md-button.active {
  background: #267ED5;
}

.menu-heading {
  display: block;
  line-height: 32px;
  padding: 0 16px;
  text-align: left;
  color: rgba(255, 255, 255, 0.54);
}

.menu-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
  max-height: 1500px;
}

.toggle-list-open {
  background: #267ED5;
}

.menu-toggle-list li {
  background: #267ED5;
}

.collapsed {
  max-height: 0px;
}

.nav-menu-bar nav-menu ul a.md-button {
  display: block;
  padding: 0 16px 0 32px;
}

.nav-menu-bar menu-link a.md-button {
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.nav-menu-bar nav-menu ul ul li > a.md-button {
  padding-left: 48px;
}

.menu-toggle-list .toggle-list-open {
  background: #4592de;
}

.menu-toggle-list .menu-toggle-list li {
  background: #4592de;
}

.nav-menu-bar nav-menu ul ul ul li > a.md-button {
  padding-left: 64px;
}

.menu-toggle-list .menu-toggle-list .toggle-list-open {
  background: #66a5e4;
}

.menu-toggle-list .menu-toggle-list .menu-toggle-list li {
  background: #66a5e4;
}

.md-button-toggle .md-toggle-icon {
  margin-left: auto;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.nav-menu-label-icon {
  margin-right: 15px;
}

@media (min-width: 960px) {
  #sidenav-wrapper.folded #site-sidenav {
    width: 64px;
  }

  #sidenav-wrapper.folded #site-sidenav:hover {
    width: 272px;
  }

  .folded .nav-menu-bar .md-button {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .folded:hover .nav-menu-bar .md-button {
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
  }

  .folded .nav-menu-bar li a span {
    display: none;
  }

  .folded:hover .nav-menu-bar li a span {
    display: inline;
  }

  .folded .nav-menu-bar li a .nav-menu-label-icon {
    margin-right: auto;
  }

  .folded:hover .nav-menu-bar li a .nav-menu-label-icon {
    margin-right: 15px;
  }
}
@media (max-width: 960px) {
  .menu-heading {
    margin: 0;
  }
}
#content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

#content-box {
  height: 100%;
  padding: 25px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 960px) {
  #content-wrapper {
    margin-left: 64px;
  }

  #sidenav-wrapper:not(.folded) ~ #content-wrapper {
    margin-left: 272px;
  }
}
.top-toolbar {
  min-height: 0;
}

.top-toolbar .md-toolbar-tools {
  padding: 0;
}

.top-toolbar .md-toolbar-tools .nav-item,
.top-toolbar .md-toolbar-tools .nav-tools > .md-button,
.top-toolbar .md-toolbar-tools > .md-button:first-child,
.top-toolbar .md-toolbar-tools .nav-item .md-ripple-container {
  line-height: 64px;
  margin: 0;
  padding: 0 16px;
  border-radius: 0;
}

.top-toolbar .md-button {
  min-width: 0;
  min-height: 0;
  width: auto;
  height: auto;
  text-transform: none;
  font-size: 18px;
}

.nav-brand-icon,
.nav-brand-icon .md-button {
  width: 64px;
  padding: 0;
  line-height: 64px;
  margin: 0;
  border-radius: 0;
}

@media (min-width: 960px) {
  .top-toolbar {
    min-height: 64px;
  }
}
@media (max-width: 960px) {
  .top-toolbar .md-toolbar-tools {
    height: 56px;
    min-height: 56px;
  }

  .top-toolbar .nav-item,
  .top-toolbar .nav-tools > .md-button {
    line-height: 56px;
  }

  #top-navbar .md-toolbar-tools .nav-tools .md-button {
    padding-left: 10px;
    padding-right: 10px;
  }
}
