<md-sidenav id="site-sidenav" class="md-sidenav-left" md-is-locked-open="true">
	<md-toolbar class="md-whiteframe-z1"></md-toolbar>
	<div  id="site-nav-menu" class="scrollable hover">
	<md-content>
		<nav-menu class="nav-menu-bar" layout="column">
			<h2 class="menu-heading">Heading</h2>
			<menu-link>Item1</menu-link>
			<nav-menu toggle-menu title="Menu">
				<menu-link>Item1</menu-link>
				<menu-link>Item2</menu-link>
				<menu-link>Item3</menu-link>
				<menu-link>Item1</menu-link>
				<menu-link>Item2</menu-link>
				<menu-link>Item3</menu-link>
				<menu-link>Item1</menu-link>
				<menu-link>Item2</menu-link>
				<menu-link>Last Item</menu-link>
			</nav-menu>
			<menu-link>
				ItemA
			</menu-link>
			<menu-link layout="column">
				ItemB
			</menu-link>
			<nav-menu title="Nav Menu" toggle-menu>
				<menu-link>&lt;menu-link&gt;</menu-link>
				<menu-link>&lt;menu-link&gt;</menu-link>
				<nav-menu title="Nested Nav Menu" toggle-menu>
					<menu-link>&lt;menu-link&gt;</menu-link>
					<nav-menu title="Double Nested Menu" toggle-menu>
						<menu-link>Item>>></menu-link>
					</nav-menu>
				</nav-menu>
				<nav-menu title="Nested Nav Menu" toggle-menu>
					<menu-link>&lt;menu-link&gt;</menu-link>
					<nav-menu title="Double Nested Menu" toggle-menu>
						<menu-link>Item>>></menu-link>
					</nav-menu>
				</nav-menu>
			</nav-menu>
			<nav-menu toggle-menu title="Toggle Me">
				<menu-link>
					Item
				</menu-link>
				<menu-link>
					Item
				</menu-link>
				<menu-link>
					Item
				</menu-link>
				<menu-link>
					Item
				</menu-link>
			</nav-menu>
		</nav-menu>
	</md-content>
	</div>
</md-sidenav>