$site-background-color: #EEE;
$site-links-color: #427fed;

$window-small-max-width: 600px;
$window-medium-max-width: 960px;

$sidenav-color-primary: #FFF;
$sidenav-color-secondary: #EDEDED;
$sidenav-color-hue1: #CFCFCF;
$sidenav-color-hue2:#B8B8B8;
$sidenav-font-color: #616161;
$sidenav-heading-color: rgba(61, 61, 61, 0.54);

$sidenav-full-width: 272px;
$sidenav-folded-width: 64px;
$sidenav-menu-item-height: 40px;
$sidenav-menu-item-height-folded: 40px;
$sidenav-menu-item-height-compact: 36px;
$sidenav-base-padding: 16px;
$sidenav-font-size-compact: 13px;
$sidenav-font-size: 14px;

$topnav-full-height: 64px;
$topnav-compact-height: 56px;