$site-background-color: #EEE;

$nav-color-primary: #106CC8;
$nav-color-secondary: #267ED5;
$nav-color-hue1: #4592de;
$nav-color-hue2:#66a5e4;
$nav-font-color: white;
$nav-heading-color: rgba(255, 255, 255, 0.54);

$window-small-max-width: 600px;
$window-medium-max-width: 960px;