<!DOCTYPE html>
<html lang="en" ng-app="toolboxApp">
{% include 'includes/head.html' %}

<body ng-controller="AppCtrl as app" ng-cloak>
	<div id="site-wrapper">
		{% include '../components/side-navbar/side-navbar.html' %}
		<div id="content-wrapper" layout="column">					
		{% include '../components/top-navbar/top-navbar.html' %}		
			
			<div id="content-box" ng-cloak>
				{% block content %} {% endblock %}
			</div>
		</div>
	</div>
	{% include 'includes/foot.html' %}
	<script>angular.module('appServices').run(function(pageConfig){
		pageConfig.sidenavFolded.set("<%= sidenavFolded %>" || true);
	})</script>
</body>

</html>