{% extends 'base.html' %} {% block content %} {% include 'includes/flash.html' %}


<div id="login-form" layout="row" layout-align="center center" ng-cloak>

  <md-card>
    <md-card-content>
      <div layout="row" layout-align="center center">
        <span class="md-headline" layout-margin>Log in to D20 Toolbox</span>
      </div>

      <div class="sp-tb-10" layout="row" layout-align="space-around center" layout-padding>
        <md-button href="/oauth/facebook" class="md-raised md-icon-button" aria-label="Facebook">
          <md-icon class="s36 facebook-icon" md-svg-icon="src/assets/img/icons/facebook-box.svg"></md-icon>
        </md-button>
        <md-button class="md-raised md-icon-button" aria-label="Twitter">
          <md-icon class="s36 twitter-icon" md-svg-icon="src/assets/img/icons/twitter.svg"></md-icon>
        </md-button>
        <md-button class="md-raised md-icon-button" aria-label="Google">
          <md-icon class="s36 google-plus-icon" md-svg-icon="src/assets/img/icons/google-plus.svg"></md-icon>
        </md-button>
      </div>

      <div layout="row" layout-align="center">
        <div class="flex-divider"></div>
        <div class="login-divider-text">OR</div>
        <div class="flex-divider"></div>
      </div>

      <form action="/login" method="post" layout="column">
        <div layout-margin>
          <md-input-container class="login-container">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
          </md-input-container>
          <md-input-container class="login-container">
            <label for="password">Password</label>
            <input type="text" name="password" id="password" required>
          </md-input-container>
        </div>
        <md-button type="submit" class="md-raised md-primary">Log In</md-button>
      </form>

      <div class="flex-divider"></div>

      <div layout="column" class="login-links">
        <a href="">Forgot your password?</a>
        <a href="/register">Create account</a>
      </div>

    </md-card-content>
  </md-card>

</div>

{% endblock %}